<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Preferences</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <%= user_actions(user) %>
<% end %>
</table>

<br />
