<% content_for :left do %>
  <div>User actions</div>
  <li><%= link_to 'Home', :action => 'index' %></li>
<% end %>

<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Preferences</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <%= user_actions(user) %>
<% end %>
</table>


<br />

<%= link_to 'New User', new_user_path %>
