<% content_for :left do %>
  <div>User actions</div>
  <li><%= link_to 'Home', :action => 'index' %></li>
<% end %>

<h1>Listing users</h1>
<div id="user_actions">
  <%= render "user_actions", :users => @users %>
</div>


<%= link_to 'New User', new_user_path %> </br>
<%= link_to "Upsate user preferences", update_preferences_users_path , :remote => true, "data-type" => :html, :id => "update_preferences"%>
