<% content_for :left do %>
  <div>Posts actions</div>
  <li><%= link_to 'Home', :action => 'index' %></li>
<% end %>


<% cache do %>
  <%= render @posts %>
<% end %>

<%= link_to "New post", new_post_path %>
